:root {
@property --accent, initial;
--accent: green;
}
body {
background-color: #212529;
color: #fff;
font-family: lexend;
}
a {
color: var(--accent);
}

.hero {
height: 100vh;
display: flex;
align-items: center;
background-image: url("https://img.freepik.com/free-photo/education-day-arrangement-table-with-copy-space_23-2148721266.jpg?size=626&ext=jpg&ga=GA1.1.1413502914.1720396800&semt=sph");
background-size: cover;
background-position: center;
padding: 50px;
color: white;
}

.hero h1, .hero p {
text-align: left;
max-width: 500px;
}

.carousel-inner img {
width: 70vw;
height: 70vh;
object-fit: cover;
display: block;
margin: auto;
}
.carousel {
margin: 7vh 15vw 7vh 15vw;
}
.btn-primary {
background: var(--accent);
border: var(--accent);
}
.btn-primary:hover {
background: hsl(var(--accent), 100%, 30%);
}

.step-button {
width: 80px;
height: 80px;
background-color: #858585;
color: #333;
font-size: 20px;
text-decoration: none;
transition: background-color 0.2s ease;
margin-top: 12px;  /* Add margin around each button */
position: relative;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.step-button:hover {
background-color: #ccc;
}

.step-number {
font-weight: bold;
}

.step-tooltip {
    position: absolute;
    transform: translateX(-200px);
    background-color: #858585;
    border: 1px solid #858585;
    border-radius: 5%;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    padding: 10px;
    display: none;
    width: 200px; /* Adjust width as needed */
  }
  
  /* Show tooltip on hover with display: inherit */
  .step-button:hover .step-tooltip {
    display: block;
  }

.step-container {
position: relative;
align-items: center;
display: flex;
flex-direction: column;
padding: 0 16px;
margin: 0 auto; /* Center container horizontally */
}

.left {
    left: 45px;
}

.superleft {
    left: 70px;
}

.right {
    right: 45px;
}

.superright {
    right: 70px;
}

/* SIDEBAR */

.sidebar {
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  width: 280px;
  border-right: 1px solid #858585;
}

.lowbar {
  z-index: 2;
  border-top: 1px solid #858585;
}

.path {
  flex: 1;
  text-align: justify;
  padding: 1vh 13vw 10vh 13vw;
}

.path img {
  max-width: 35vw;
  max-height: 35vh;
}

.path h1 {
  margin-top: 47px;
  margin-bottom: 47px;
}

.path h3 {
  margin-top: 31px;
  margin-bottom: 31px;
}

.path p {
  margin-top: 17px;
  margin-bottom: 17px;
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

/*###################################*/  